__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.env/
.venv/

# OS / editor
.DS_Store

# Large data and model artifacts (we'll keep these local / in cloud, not in Git)
GAVD-sequences/
*.pt
*.pth
*.ckpt
*.safetensors

# Logs
logs/
*.log

# Gait-videos
Gait-videos
Gait-videos-clipped
clipped_video_frame_lengths.csv
gait_video_clips.csv
gait_videos_name_parsed.csv
gait_videos_name_stats.json
Gait-videos-clipped.zip
